/* * {
  box-sizing: border-box;
}  */
.App {
  text-align: center;
}


.App-header {
  background-color: #0a0a0aeb;
  max-height: 20vh;
  color: #f77b07;
  font-size: calc(2rem + 3vh);
  font-family: Arial Black;
  text-align: center;
  padding: 10px;
}


.content {
  background-color:rgb(183, 183, 182);
  min-height: 100vh;
  padding: 15px;
}
